version: '2'
services:
  cdtportal:
    image: "{{ cdtportal_registry_url }}{{ cdtportal_image_name }}:{{ cdtportal_version }}"
    volumes:
      - "{{ cdt_data }}/{{ cdtportal_service_name }}/config/application.yml:/config/application.yml"
      - "{{ cdt_data }}/{{ cdtportal_service_name }}/data:/data"
      - "{{ cdt_cert }}/cacerts:/etc/ssl/certs/java/cacerts:ro"
    environment:
      CDTPORTAL_DATA: "/data"
      CDTPORTAL_LOG: "/var/log/cdtportal"
    ports:
      - 8080
    networks:
      - cdt
    restart: always
    labels:
      - traefik.backend=cdtportal
      - traefik.frontend.rule=Host:cdtportal.{{ base_domain }}
      - traefik.port=8080
    logging:
      driver: "syslog"
      options:
        syslog-facility: "local2"
        tag: "docker/{% raw %}{{.Name}}{% endraw %}"

networks:
  cdt:
    external: true


