version: '2'
services:
  web_proxy:
    image: "{{ registry_url }}sameersbn/squid:{{ squid_version }}"
    restart: always
    volumes:
      - "{{ docker_volumes }}/{{ squid_service_name }}/squid3.conf:/etc/squid3/squid3.conf"
    ports:
      - "{{ squid_port }}:{{ squid_port }}"
    networks:
      - internal
      - external
    logging: 
      driver: "syslog"
      options:
        syslog-facility: "local2"
        tag: "docker/{% raw %}{{.Name}}{% endraw %}"
networks:
  internal:
    external: true
  external:
    external: true
