http_access allow all
http_port 3128
acl all src 0.0.0.0/0
{% if parent_http_proxy_hostname is defined %}
cache_peer {{ parent_http_proxy_hostname }} parent {{ parent_http_proxy_port }} 0 no-query default login={{ parent_http_proxy_username }}:{{ parent_http_proxy_password }}
never_direct allow all
prefer_direct off
nonhierarchical_direct off
{% endif %}
