version: '2'
services:
  gitea:
    image: "{{ gitea_registry_url }}{{ gitea_image_name }}:{{ gitea_version }}"
    volumes:
      - "{{ cdt_data }}/{{ gitea_service_name }}/data:/data"
    ports:
      - 3000
      - "2222:22"
    networks:
      - internal
      - external
    depends_on:
      - mysql
    restart: always
    labels:
      - traefik.backend=gitea
      - traefik.frontend.rule=Host:gitea.{{ base_domain }}
      - traefik.port=3000
    #logging:
    #  driver: "syslog"
    #  options:
    #    syslog-facility: "local2"
    #    tag: "docker/{% raw %}{{.Name}}{% endraw %}"
  mysql:
    image: mariadb:{{ mariadb_version }}
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: {{ gitea_mysql_pass }}
      MYSQL_DATABASE: gitea
      MYSQL_USER: gitea
      MYSQL_PASSWORD: {{ gitea_mysql_pass }}
    volumes:
      - '{{ cdt_data }}/{{ gitea_service_name }}/mysql:/var/lib/mysql'
    ports:
      - 3306
    labels:
      - traefik.enable=false
    networks:
      - internal
      - external
    #logging:
    #  driver: "syslog"
    #  options:
    #    syslog-facility: "local2"
    #    tag: "docker/{% raw %}{{.Name}}{% endraw %}"

networks:
  internal:
    external: true
  external:
    external: true


