version: '2'
services:
  gitea:
    build:
      context: .
      dockerfile: Dockerfile
      args:
         dummy: "yes"
{% if parent_http_proxy is defined %}
         http_proxy: "{{ parent_http_proxy }}"
         https_proxy: "{{ parent_http_proxy }}"
         no_proxy: "{{ parent_no_proxy }}"
{% endif %}
    entrypoint: ["/bin/sh"]
    command: ["-c", "wait-for-it.sh -h gitea_db -p 3306 -t 30 && /bin/s6-svscan /etc/s6"]
    image: "{{ gitea_registry_url }}{{ gitea_image_name }}:{{ gitea_version }}"
    volumes:
      - "{{ cdt_data }}/{{ gitea_service_name }}/data:/data"
{% if extra_hosts is defined %}
    extra_hosts: {{ extra_hosts | to_yaml }}
{% endif %}
    environment:
      http_proxy: "{{ http_proxy }}"
      https_proxy: "{{ http_proxy }}"
      no_proxy: "{{ no_proxy }}"    
      DB_TYPE: "mysql"
      DB_HOST: "gitea_db:3306"
      DB_NAME: gitea
      DB_USER: gitea
      DB_PASSWD: {{ gitea_mysql_pass }}
      ROOT_URL: "https://gitea.{{ base_domain }}"
      SSH_DOMAIN: "gitea.{{ base_domain }}"
      SSH_PORT: "2222"
      INSTALL_LOCK: "true"
      RUN_MODE: "prod"
      APP_NAME: "gitea"
      SHOW_REGISTRATION_BUTTON: "false"
      #USER_UID: "{{ gitea_user }}"
      #USER_GID: "{{ gitea_group }}"
    ports:
      - 3000
      - "2222:22"
    networks:
      - cdt
    depends_on:
      - gitea_db
    restart: always
    labels:
      - traefik.backend=gitea
      - traefik.frontend.rule=Host:gitea.{{ base_domain }}
      - traefik.port=3000
    logging:
      driver: "syslog"
      options:
        syslog-facility: "local2"
        tag: "docker/{% raw %}{{.Name}}{% endraw %}"
  gitea_db:
    image: mariadb:{{ mariadb_version }}
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: {{ gitea_mysql_pass }}
      MYSQL_DATABASE: gitea
      MYSQL_USER: gitea
      MYSQL_PASSWORD: {{ gitea_mysql_pass }}
    volumes:
      - '{{ cdt_data }}/{{ gitea_service_name }}/mysql:/var/lib/mysql'
    ports:
      - 3306
    labels:
      - traefik.enable=false
    networks:
      - cdt
    logging:
      driver: "syslog"
      options:
        syslog-facility: "local2"
        tag: "docker/{% raw %}{{.Name}}{% endraw %}"

networks:
  cdt:
    external: true


