version: '2'
services:
  jenkins:
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
      args:
         dummy: "yes"
{% if parent_http_proxy is defined %}
         http_proxy: "{{ parent_http_proxy }}"
         https_proxy: "{{ parent_http_proxy }}"
         no_proxy: "{{ parent_no_proxy }}"
{% endif %}
    ports:
      - 8080
      - "50000:50000"
    volumes:
      - "{{ cdt_data }}/{{ jenkins_service_name }}:/var/jenkins_home"
      - '/var/run/docker.sock:/var/run/docker.sock'
      - "{{ cdt_cert }}/cacerts:/etc/ssl/certs/java/cacerts:ro"
{% if extra_hosts is defined %}
    extra_hosts: {{ extra_hosts | to_yaml }}
{% endif %}
    environment:
      http_proxy: "{{ http_proxy }}"
      https_proxy: "{{ http_proxy }}"
      no_proxy: "{{ no_proxy }}"
      INITIAL_ADMIN_USER: "admin"
      INITIAL_ADMIN_PASSWORD: "password" 
      DOCKER_SLAVE_LABEL: "jenkins-jnlp-slave-docker-cli"
      DOCKER_SLAVE_NETWORK: "cdt"
      DOCKER_SLAVE_VOLUMES: "/var/run/docker.sock:/var/run/docker.sock {{ cdt_cert }}/cacerts:/etc/ssl/certs/java/cacerts workspace:/home/jenkins/agent"
      DOCKER_SLAVE_ENVIRONMENT: "GIT_SSL_NO_VERIFY=true"
      DOCKER_SLAVE_IMAGE: "devopswise/jenkins-jnlp-slave-docker-cli:latest"
      DOCKER_SLAVE_DOCKER_HOST_URI: "tcp://172.17.0.1:2375"
      JENKINS_BASE_URL: "{{ cdt_protocol }}://{{ jenkins_service_name }}.{{ base_domain }}"
    privileged: true
    networks:
      - cdt
    labels:
      - traefik.backend=jenkins
      - traefik.frontend.rule=Host:jenkins.{{ base_domain }}
      - traefik.docker.network=cdt
      - traefik.port=8080
    logging:
      driver: "syslog"
      options:
        syslog-facility: "local2"
        tag: "docker/{% raw %}{{.Name}}{% endraw %}"
networks:
  cdt:
    external: true

