version: '2'
services:
  jenkins:
    restart: always
    build: .
    ports:
      - 8080
      - "50000:50000"
    volumes:
      - "{{ cdt_data }}/{{ jenkins_service_name }}:/var/jenkins_home"
      - '/var/run/docker.sock:/var/run/docker.sock'
      - "{{ cdt_cert }}/cacerts:/etc/ssl/certs/java/cacerts:ro"
    environment:
      INITIAL_ADMIN_USER: "admin"
      INITIAL_ADMIN_PASSWORD: "password" 
      ADOP_LDAP_ENABLED: "true"
      LDAP_SERVER: "ldap://ldap:389"
      LDAP_ROOTDN: "{{ openldap_full_domain }}"
      LDAP_USER_SEARCH_BASE: "ou=people"
      LDAP_USER_SEARCH: "uid={0}"
      LDAP_GROUP_SEARCH_BASE: ""
      LDAP_GROUP_SEARCH_FILTER: ""
      LDAP_GROUP_MEMBERSHIP_FILTER: ""
      LDAP_MANAGER_DN: "cn=admin,{{ openldap_full_domain }}"
      LDAP_MANAGER_PASSWORD: "{{ openldap_slapd_pass }}"
      LDAP_INHIBIT_INFER_ROOTDN: "false"
      LDAP_DISABLE_MAIL_ADDRESS_RESOLVER: "false"
      LDAP_DISPLAY_NAME_ATTRIBUTE_NAME: "displayName"
      LDAP_MAIL_ADDRESS_ATTRIBUTE_NAME: "mail"
      DOCKER_SLAVE_LABEL: "jenkins-jnlp-slave-docker-cli"
      DOCKER_SLAVE_NETWORK: "cdt"
      DOCKER_SLAVE_VOLUMES: "/var/run/docker.sock:/var/run/docker.sock {{ cdt_cert }}/cacerts:/etc/ssl/certs/java/cacerts workspace:/home/jenkins"
      DOCKER_SLAVE_ENVIRONMENT: "GIT_SSL_NO_VERIFY=true"
      DOCKER_SLAVE_IMAGE: "devopswise/jenkins-jnlp-slave-docker-cli:latest"
      DOCKER_SLAVE_DOCKER_HOST_URI: "tcp://172.17.0.1:2375"
      JENKINS_BASE_URL: "{{ cdt_protocol }}://{{ cdtportal_service_name }}.{{ base_domain }}"
    privileged: true
    networks:
      - cdt
    labels:
      - traefik.backend=jenkins
      - traefik.frontend.rule=Host:jenkins.{{ base_domain }}
      - traefik.docker.network=cdt
      - traefik.port=8080
    logging:
      driver: "syslog"
      options:
        syslog-facility: "local2"
        tag: "docker/{% raw %}{{.Name}}{% endraw %}"
networks:
  cdt:
    external: true

