version: '2'
services:
  smtp:
    image: "{{ registry_url }}namshi/smtp:{{ smtp_relay_version }}"
    environment:
      GMAIL_USER: "{{ smtp_relay_gmail_user }}"
      GMAIL_PASSWORD: "{{ smtp_relay_gmail_pass }}"
    ports:
      - "{{ smtp_tcp_port }}:{{ smtp_tcp_port }}"
    networks:
      - cdt
    logging: 
      driver: "syslog"
      options:
        syslog-facility: "local2"
        tag: "docker/{% raw %}{{.Name}}{% endraw %}"

networks:
  cdt:
    external: true
