version: '2'
services:
  bitbucket:
    image: "{{ bitbucket_registry_url }}{{ bitbucket_image_name }}:{{ bitbucket_version }}"
    environment:
      http_proxy: "{{ http_proxy }}"
      https_proxy: "{{ http_proxy }}"
      no_proxy: "{{ no_proxy }}"
      SERVER_SECURE: "true"
      SERVER_SCHEME: "https"
      SERVER_PROXY_PORT: "443"
      SERVER_PROXY_NAME: "bitbucket.{{ base_domain }}"
      ELASTICSEARCH_ENABLED: "false"
    volumes:
      - "{{ cdt_data }}/{{ bitbucket_service_name }}/data:/var/atlassian/application-data/bitbucket"
    ports:
      - "7999:7999"
      - "7990"
    networks:
      - cdt
    restart: always
    labels:
      - traefik.backend=bitbucket
      - traefik.frontend.rule=Host:bitbucket.{{ base_domain }}
      - traefik.port=7990
    logging:
      driver: "syslog"
      options:
        syslog-facility: "local2"
        tag: "docker/{% raw %}{{.Name}}{% endraw %}"

networks:
  cdt:
    external: true
