version: '2'
services:
  traefik:
    image: "{{ registry_url }}traefik:{{ traefik_version }}"
    command: '-c /traefik.toml --docker --logLevel=DEBUG'
    restart: always
    privileged: true
{% if http_ssl_certificate_generation == "letsencrypt" %}
    environment:
      AWS_ACCESS_KEY_ID: {{ aws_access_key }}
      AWS_REGION: {{ aws_region }}
{% if letsencrypt_method is defined and letsencrypt_method == "route53" %}
      AWS_SECRET_ACCESS_KEY: {{ aws_secret_access_key }}
{% endif %}
{% endif %}
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
      - "{{ cdt_data }}/traefik/traefik.toml:/traefik.toml"
      - '{{ cdt_data }}/traefik/acme.json:/acme.json'
      - '{{ cdt_cert }}:/certs'
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    labels:
      - "traefik.frontend.rule=Host:monitor.{{ base_domain }}"
      - "traefik.port=8080"
    networks:
      - cdt
    logging: 
      driver: "syslog"
      options:
        syslog-facility: "local2"
        tag: "docker/{% raw %}{{.Name}}{% endraw %}"

networks:
  cdt:
    external: true

