defaultEntryPoints = ["http", "https"]

[web]
address = ":8080"
  [web.auth.basic]
  users = ["{{ traefik_admin_user }}:{{ traefik_admin_pass_hash }}"]

[entryPoints]
  [entryPoints.http]
  address = ":80"
    [entryPoints.http.redirect]
      entryPoint = "https"
  [entryPoints.https]
  address = ":443"
    [entryPoints.https.tls]

[acme]
email = "{{ traefik_admin_email }}"
storage = "acme.json"
entryPoint = "https"
onHostRule = true
onDemand = false
{% if letsencrypt_method is defined and letsencrypt_method == "route53" %}
[acme.dnsChallenge]
  provider = "route53"
  delayBeforeCheck = 0
{% else %}
[acme.httpChallenge]
  entryPoint = "http"
{% endif %}
[[acme.domains]]
  main = "{{ base_domain }}"

[metrics]
  [metrics.prometheus]
    entryPoint = "traefik"
    buckets = [0.1,0.3,1.2,5.0]
